div{
    font-size: 14px;
    padding-top: 20px;
}

h3{
    font-size: 25px;
    padding-top: 10px;
    margin-bottom: 50px;
    font-weight: bold;
}

h4{
    font-size: 23px;
    margin-bottom: 20px;
    padding-top: 20px;
   
}

h6{
    font-size: 22px;
    padding-top: 20px;
    margin-bottom: 20px;
}